<mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title>Computer Science</mat-card-title>
		<mat-card-subtitle>Bachelor of Science</mat-card-subtitle>
	</mat-card-header>
	<mat-divider></mat-divider>
	<mat-card-content>
		<p>Included content on low-level computer programming, assembly languages, operating system organization, as well as software engineering topics such as Agile methodologies, with a special focus on Linux systems.</p>
	</mat-card-content>
	<mat-divider></mat-divider>
	<mat-card-footer>
		<p>From Colorado School of Mines</p>
	</mat-card-footer>
</mat-card>
<br/>
<mat-card appearance="outlined">
	<mat-card-header>
		<mat-card-title>Physics Engineering</mat-card-title>
		<mat-card-subtitle>Bachelor of Science</mat-card-subtitle>
	</mat-card-header>
	<mat-divider></mat-divider>
	<mat-card-content>
		<p>Instruction covered mathematical physics across many different disciplines, as well as technical writing, laboratory procedure, and physics computation in a variety of programming languages.</p>
	</mat-card-content>
	<mat-divider></mat-divider>
	<mat-card-footer>
		<p>From Colorado School of Mines</p>
	</mat-card-footer>
</mat-card>
