<mat-accordion multi>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Programming Languages</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<ocket8888-skill *ngFor="let language of languages" [skill]="language"></ocket8888-skill>
		</mat-list>
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Technologies &amp; Frameworks</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<ocket8888-skill *ngFor="let t of tech" [skill]="t"></ocket8888-skill>
		</mat-list>
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Markup Languages</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<ocket8888-skill *ngFor="let language of markupLanguages" [skill]="language"></ocket8888-skill>
		</mat-list>
	</mat-expansion-panel>
</mat-accordion>
<footer>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></footer>
