<mat-accordion multi>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Programming Languages</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<mat-list-item *ngFor="let language of languages">
				<span matListItemTitle>{{language.name}}</span>
				<mat-icon matListItemIcon *ngIf="language.icon" [svgIcon]="language.icon"></mat-icon>
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Technologies &amp; Frameworks</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-list>
			<mat-list-item *ngFor="let t of tech">
				<span matListItemTitle>{{t.name}}</span>
				<mat-icon matListItemIcon *ngIf="t.icon" [svgIcon]="t.icon"></mat-icon>
			</mat-list-item>
		</mat-list>
	</mat-expansion-panel>
</mat-accordion>
<footer>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></footer>
