mat-card {
	height: 80%;
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: vertical;
	justify-content: space-between;

	div {
		flex-basis: auto;
		flex-shrink: 0;
	}
	mat-card-actions {
		flex-grow: 0;
	}
}

@media(max-height: 950px) {
	mat-card {
		height: 100%;
		width: 100%;
		margin: none;
		border-radius: 0;
	}
}

p, mat-card-title {
	color: white;
}
