<mat-card>
	<div>
		<mat-card-header>
			<mat-card-title-group>
				<mat-card-title>Brennan Fieck</mat-card-title>
				<mat-card-subtitle>Senior Full-Stack Software Engineer</mat-card-subtitle>
				<img mat-card-md-image src="assets/ocket8888.jpeg"/>
			</mat-card-title-group>
		</mat-card-header>
		<mat-card-content>
			<p>Brennan Fieck is a senior programmer who loves to develop systems from both the front and back ends. He's passionate about open-source software and most comfortable working on Linux systems. In his spare time, he enjoys hiking, bouldering, playing video and board games, and idle sketches/painting.</p>
			<mat-tab-group>
				<mat-tab label="Skills"></mat-tab>
				<mat-tab label="Repositories"></mat-tab>
				<mat-tab label="Education"></mat-tab>
				<mat-tab label="Employment History"></mat-tab>
			</mat-tab-group>
		</mat-card-content>
	</div>
	<mat-card-actions>
		<a href="mailto:ocket8888@apache.org?subject=You're%20Hired" mat-icon-button title="send an email" color="primary"><mat-icon>mail</mat-icon></a>
		<a href="tel:+17203813067" mat-icon-button title="call" color="primary"><mat-icon>call</mat-icon></a>
		<a href="sms:+17203813067" mat-icon-button title="send a text message" color="primary"><mat-icon>sms</mat-icon></a>
	</mat-card-actions>
</mat-card>
